---
title: Screenshot Productions | Immersive Art
---

<body>
  
  <main class="outer-container" role="main">  
 
    <%= partial "header" %>
    <%= partial "hero" %>
    <%= partial "art" %>
    <%= partial "membership" %>
    <%= partial "about" %>
    <%= partial "footer" %>

  </main>  

</body>