---
title: Screenshot Productions | Immersive Art
---

<body>
  
  <div class="outer-container;">  
 
    <%= partial "navigation" %>
    <%= partial "hero" %>
    <%= partial "art" %>
    <%= partial "membership" %>
    <%= partial "about" %>
    <%= partial "footer" %>

  </div>  

</body>